* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background: url("/images/body.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: pink;
  background: rgb(75, 74, 74);
  font-size: 2vw;
}
#root {
  flex: 1;
}

@media screen and (max-width: 481px) {
  body {
    background-size: cover;
  }
  .footer {
    font-size: 5vw;
  }
}
