.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: pink;
  background: rgb(75, 74, 74);
  font-size: 2vw;
  z-index: 20;
}
@media screen and (max-width: 481px) {
  .footer {
    font-size: 5vw;
  }
}
