a {
  text-decoration: none;
  color: white;
}
hr {
  border: 2px solid red;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.headerText {
  text-align: center;
  font-size: 5vw;
  text-shadow: 2px 2px 3px rgb(0, 212, 250);
  color: #9affff;
}
#container a {
  width: 30%;
  margin: 2vw 0;
  font-size: 2vw;
}
.todoContainer h3,
.peopleContainer h3 {
  padding: 10px;

  backdrop-filter: blur(140px);
  color: rgb(39, 0, 13);
}
.peopleContainer {
  background: url("../Images/people.png");
  background-size: contain;
  height: 25vw;
  background-position: bottom;
}
.todoContainer {
  background: url("../Images/todo.png");
  background-size: contain;
  height: 25vw;
}
.games_title {
  text-align: center;
  font-size: 3vw;
  background: yellow;
  position: relative;
}
.courses_container {
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1vw;
  border: 5px solid yellow;
  border-top: 0;
}
.course_button {
  padding: 10px;
  font-size: 2vw;
  border-radius: 20px;
  background: rgb(146, 176, 231);
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.course_button:hover {
  background: yellow;
}

#course_container {
  width: 22%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.course_div {
  width: 100%;

  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.course_info_div {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(39, 9, 32);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.2vw;
  font-weight: bold;
  transform: translate(100%);
  transition: all 1.2s;
  color: rgb(231 126 187);
}
.course_info_div:hover,
.course_div:hover .course_info_div {
  transform: translate(0);
}
.course_image {
  max-width: 100%;

  max-height: 23vw;
}
.course_div button {
  width: 100%;
  z-index: 1;
}
.allgames_div {
  position: absolute;
  top: 1%;
  right: 18%;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  animation: gamesLink 2s infinite;
  cursor: pointer;
}
@keyframes gamesLink {
  0% {
    color: black;
    transform: translate(0);
  }
  25% {
    transform: translate(4%);
  }
  50% {
    color: rgb(0, 132, 255);
    transform: translate(-4%);
  }
  100% {
    color: black;
    transform: translate(0);
  }
}

@media screen and (max-width: 481px) {
  #container {
    font-size: 10vw;
    flex-direction: column;
    align-items: center;
  }
  #container a {
    width: 80%;
    height: 70vw;
    font-size: 5vw;
  }
  .todoContainer,
  .peopleContainer {
    height: 100%;
  }
  .headerText {
    font-size: 7vw;
  }
}
