* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Kanit", sans-serif !important;
  font-weight: 300;
}

body {
  background: url("../Images/body.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  font-weight: 300;
}

@media screen and (max-width: 481px) {
  body {
    background-size: cover;
  }
}
