#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  z-index: 99;
}
.hamburger_button {
  display: none;
}
.login_form_div {
  width: 50%;
  background-color: rgba(112, 48, 112, 0.753);
  margin: 5% auto;
  text-align: center;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_input,
.login_button {
  padding: 10px;
  margin: 10px;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 10px;
}
.login_button {
  background: rgba(228, 65, 214, 0.438);
  color: pink;
}
.login_button:hover {
  background: rgba(228, 65, 214);
  color: black;
}
.login_input {
  background: rgba(0, 0, 0, 0.692);
  border-bottom: 2px solid black;
  color: white;
}
.login_input::placeholder {
  color: white;
}
.menuDiv ul {
  display: flex;
  flex-direction: row;
}
.menuDiv ul li {
  list-style: none;
  padding: 10px;
  backdrop-filter: blur(1px);
  filter: brightness(10px);
}
.activLink {
  color: rgb(241, 2, 42) !important;
  border-bottom: 2px solid black;
}
.menuDiv ul li a {
  text-decoration: none;
  font-size: 2.5vw;
  font-weight: 800;
}

#container img {
  max-width: 100%;
  max-height: 5vw;
  background: rgb(255, 255, 255);
}
.links {
  color: rgb(234, 123, 238);
}
.links:hover {
  color: rgb(241, 2, 42);
}
@media screen and (max-width: 620px) {
  .menuDiv {
    display: none;
  }
  .hamburger_button {
    display: block;
    cursor: pointer;
    width: 10vw;
    z-index: 8;
    margin: 12px 0 0 12px;
  }
  .hamburger_parts {
    width: 100%;
    padding: 4px;
    display: block;
    margin: 2px 0;
    transition: all 1.2s;
  }
  .hamburger_parts:nth-child(1) {
    background: linear-gradient(rgb(230, 0, 0), rgb(255, 123, 0));
  }
  .hamburger_parts:nth-child(2) {
    background: linear-gradient(yellow, rgb(2, 177, 2));
  }
  .hamburger_parts:nth-child(3) {
    background: linear-gradient(rgb(39, 39, 212), rgb(255, 130, 255));
  }

  .first_part {
    transform: rotate(-50deg) translate(-16%, 80%);
    transform-origin: center;
  }
  .second_part {
    display: none;
  }
  .third_part {
    transform: rotate(45deg);
    transform-origin: center;
  }
  #container img {
    max-width: 100%;
    max-height: 13vw;
    background: rgb(255, 255, 255);
  }
}
