.paginate_container {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.paginate_container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginate_container ul li {
  padding: 1px 5px;
  font-weight: bold;
  font-size: 2.5vw;
  background: white;
  cursor: pointer;
}
.active {
  background: rgb(12, 88, 139) !important;
}
