.PeopleFormDiv {
  width: 45%;
  backdrop-filter: blur(150px);
  border-radius: 20px;
  padding: 10px;
  margin: 2vw;
}
.counter {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.753);
}
.PeopleFormDiv h1 {
  font-size: 4vw;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0, 212, 250);
  color: #9affff;
}
.PeopleFormDiv form {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.input,
button,
select {
  padding: 3px;
  font-size: 2vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}
.formInput,
select {
  background: transparent;
  border-bottom: 2px solid pink;
  margin: 1.5vw 0px;
}
.formInput::placeholder {
  color: rgb(202, 189, 189);
}
.formInput:focus,
select:focus {
  border: 2px solid transparent;
  border-top: 2px solid pink;
}
.formButton {
  background: transparent;
  border-right: 2px solid pink;
  border-left: 2px solid pink;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: all 1s;
  width: 30%;
}
.formButton:hover {
  border: 2px solid pink;
  width: 50%;
  background: pink;
}

.input_container {
  display: flex;
  align-items: center;
}
.edit_form_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(black, rgba(172, 91, 192, 0.733), black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_cancle {
  margin-top: 8px;
}


@media screen and (max-width: 481px) {
  .PeopleFormDiv {
    width: 90%;
    margin: 0 auto;
  }
  .PeopleFormDiv h1 {
    font-size: 6vw;
  }
  .input,
  select {
    font-size: 5vw;
  }
  button {
    font-size: 5vw;
    margin-top: 3vw;
  }
}
