#peopleContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.allPeople {
  width: inherit;
  backdrop-filter: blur(7px);
}
.allPeople_table {
  width: 100%;
  padding: 2px;
  font-size: 1.5vw;
  text-align: center;
  color: white;
}
.allPeople_table,
.allPeople_table tr,
.allPeople_table tr td {
  border-collapse: collapse;
  word-break: break-all;
}
.allPeople_table thead {
  background: #3b163a;
}
.allPeople_table tBody tr:nth-child(even) {
  background: #7d5a7b;
}
.allPeople_table tBody tr {
  background: #684266;
}
.allPeople_table td {
  padding: 4px;
}
@media screen and (max-width: 481px) {
  #peopleContainer {
    flex-direction: column;
  }
  .allPeople_table {
    font-size: 2.5vw;
  }
  .allPeople {
    margin: 30px auto;
    width: 95%;
  }
}
